@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*
    --b1: 18.8409% 0.00829 17.911578;
	  -1.3189% -0.00058 rien
    --b2: 17.522% 0.007709 17.911578;
    --b3: 16.2032% 0.007129 17.911578;
    --b4: 14.8842% 0.006549 17.911578;
    */
    --b4: 14.8842% 0.006549 17.911578;
    /* adding an additional bg color. */
}

html {
    scroll-behavior: smooth;
}

.bg-base-400 {
    background-color: oklch(var(--b4));
}

.btn-sm {
    width: 2rem;
    height: 2rem;
    min-height: 2rem;
    min-width: 2rem;
}

div[data="template"] {
    display: none;
}

.tab:hover {
    background-color: color-mix(in oklab,oklch(var(--neutral-content,var(--b3))/var(--tw-bg-opacity,1)) 90%,#000);
    color: color-mix(in oklab,oklch(var(--fallback-pc,var(--pc))/var(--tw-text-opacity,1)) 10%,#fff);
}

.tab-active:hover {
    background-color: color-mix(in oklab,oklch(var(--p,var(--b3))/var(--tw-bg-opacity,1)) 90%,#000) !important;
    color: color-mix(in oklab,oklch(var(--fallback-pc,var(--pc))/var(--tw-text-opacity,1)) 10%,#000) !important;
}

.tab:not(:last-child) {
    margin-right: 0.25rem;
}

.tab:active:focus,
.tab:active:hover {
  animation: button-pop 0s ease-out;
  transform: scale(var(--btn-focus-scale, 0.97));
}

.stats_repo {
    width: 400px;
    height: 120px;
}

.tab, .btn-sm, .btn-md, .btn-lg, .btn {
    border-radius: 0.420rem !important;
}