@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.btn-sm {
    width: 2rem;
    height: 2rem;
    min-height: 2rem;
    min-width: 2rem;
}

div[data="template"] {
    display: none;
}

.tab:hover {
    background-color: color-mix(in oklab,oklch(var(--neutral-content,var(--b2))/var(--tw-bg-opacity,1)) 90%,#000);
    color: color-mix(in oklab,oklch(var(--fallback-pc,var(--pc))/var(--tw-text-opacity,1)) 10%,#fff);
}

.tab-active:hover {
    background-color: color-mix(in oklab,oklch(var(--p,var(--b2))/var(--tw-bg-opacity,1)) 90%,#000) !important;
    color: color-mix(in oklab,oklch(var(--fallback-pc,var(--pc))/var(--tw-text-opacity,1)) 10%,#000) !important;
}

.tab:not(:last-child) {
    margin-right: 0.25rem;
}

.tab:active:focus,
.tab:active:hover {
  animation: button-pop 0s ease-out;
  transform: scale(var(--btn-focus-scale, 0.97));
}